*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}
.parent0{
    width: 100%;
    height: 40px;
    background-color: rgb(61, 9, 9);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.gopi{
    width: 30%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: small;
    padding-right: 43%;
}
.gopi1{
    width: 15%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.subgopi1:hover{
    color: rgb(27, 163, 163);
}
.subgopi2:hover{
    color: rgb(27, 163, 163);
}
.aa:hover{
    color: rgb(27, 163, 163);
}
.bb:hover{
    color: rgb(255, 0, 0);
}
.call:hover{
    color: rgb(255, 0, 0);
}
.box1:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(194, 195, 197);
}
.but:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(194, 195, 197);
}
.parent1{
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 20%;
    height: 70%;
    display: flex;
    align-items: center;
    padding-left: 5%;
}
.img1{
    width: 50%;
    height: 70%;
    display: flex;
    align-items: center;
}
.menu{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 15%;
}
.menu1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.detail{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 3%;
}
.box{
    width: 50%;
    height: 60%;
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(160, 19, 19);
}
.box1{
    width: 100%;
    height: 100%;
    color: brown;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.colour{
    color: brown;
}
.parent2{
    width: 100%;
    height: 73vh;
    background-color: blueviolet;
    background-image: url(https://images.pexels.com/photos/1290141/pexels-photo-1290141.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}
.content{
    width: 30%;
    height: 100%;
    display: flex;
    /* background-color: brown; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 17%;
    color: white;

}
.but{
    width: 37%;
    height: 25%;
    background-color: red;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
    
}
.specail{
    font-family:'Times New Roman', Times, serif;
    font-size: xx-large;
    color: white;
}
.parent3{
    width: 100%;
    height: 55vh;
    background-color: white;
    display: flex;
    align-items: center;

}
.image{
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;
}
.photo{
    width: 35%;
    height: 80%;
    border-top-left-radius: 60px;
}
.description
{
    width: 30%;
    height: 100%;
    background-color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.font{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}
.font1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.parent4{
    width: 94%;
    height: 140vh;
    background-color:white;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    padding-bottom: 50px;
    padding-top: 30px;
    border-bottom: 2px solid rgb(117, 117, 117);
}
.books{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    gap: 10px;
    background-color:white;
}
.bookimg{
    width: 100%;
    height: 75%;
}
.bookname{
    font-weight: bold;
}
.subtext{
    width: 100%;
    display: flex;
    align-items:self-start;
    flex-direction: column;
}
.parent5{
    width: 100%;
    height:50vh;
}